# Site Configuration
NEXT_PUBLIC_SITE_NAME=EG

# Database
DATABASE_URL=postgresql://postgres:development@db.jbhvtgnqbeowuwprymbk.supabase.co:5432/postgres

# Next Auth (for future authentication)
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-secret-key-here

# Backblaze B2 Configuration
B2_ACCOUNT_ID=YOUR_ACCOUNT_ID
B2_APPLICATION_KEY=YOUR_APPLICATION_KEY
B2_BUCKET_NAME=eg-truebridgee
B2_ENDPOINT=s3.us-east-005.backblazeb2.com
B2_REGION=us-east-005

# Email (for future implementation)
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
